.categories-wrapper {
  display: flex;
  overflow-x: auto;

  .categories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    p {
      margin: 10px 0 0 0;
    }

    .category-icon {
      aspect-ratio: 1/1;
      height: 150px;
    }
  }
}
